<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">


            <a href="#" class="navbar-brand">RUSHIKESH</a>
            
            
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid">
                <span class="navbar-toggle-icon"> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarid">

                <ul class="navbar-nav text-center ml-auto"   >
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="buy" class="nav-link">Buy</a>
                    </li>
                    <li class="nav-item">
                        <a href="/help" class="nav-link">Help</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>